<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="/static/vendor/foundation/css/foundation.css" />
    <script src="/static/vendor/foundation/js/vendor/modernizr.js"></script>
  </head>
  <body>



    <div class="row">
      <div class="large-12 columns">
        Shopping List
      </div>
    </div>
    


    {% for item in shopping_items %}
    <div id='shopping-item-{{item.id}}' class='shopping-item-div'>
      <div class="row view-item" data-item-id='{{item.id}}'>
        <div class="large-10 columns">
          {{item.name}}
        </div>
        <div class="large-2 columns text-right">
          <span class="label">{{item.user}}</span>
        </div>
      </div>
      <div class="row edit-item hide">
        <form method='POST' action='update'>
          {% csrf_token %}
          <input type='hidden' name='item_id' value='{{item.id}}' />
          <div class="large-10 columns">
            <input type='text' name='item_name' value='{{item.name}}' />
          </div>
          <div class="large-2 columns">
            <input type='submit' name='submit'  value='Submit' class='button' />
            <input type='submit' name='delete' class='button shopping-item-delete' value='Delete' />
          </div>
        </form>
      </div>
    </div>
    {% endfor %}


    <div class="row">
      <div class="large-12 columns">
        <form name='new-item' method='POST' action='create'>
          {% csrf_token %}
          <input type='text' name='item_name'><br>
          <input type='submit' name='submit' value='Submit' class='button' />
        </form>
      </div>
    </div>

    <script src="/static/vendor/foundation/js/vendor/jquery.js"></script>
    <script src="/static/vendor/foundation/js/foundation.min.js"></script>
    <script src="/static/shoppinglist.js"></script>
  </body>
</html>
